body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#menu{
	position: fixed;
	background-color: #4444ff;
	height: 50px;
	width: 100%;
}

ul{
	position: absolute;
	margin-top: 0px;
	list-style: none;
	padding: 0px;
	padding-top: 50px;
	width: 100%;
	height: 100%;
}

ul li.contents{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	/*border-width: 1px;
	border-color: black;
	border-style: solid;*/

}
